body,
html {
  color: #333333;
  background-image: url('../img/dust.png');
}
nav {
  background-color: #ffffff;
}
#headline {
  color: #4d4d4d;
}
#hamburger span {
  background-color: #4d4d4d;
}
nav ul li a {
  color: #4d4d4d;
  border-bottom-color: #990000;
}
#start {
  background-image: url('../img/background-light-texture.jpg');
}
#tagline {
  color: white;
}
#philosophy {
  background-image: url('../img/dustGrey.png');
  color: white;
}
#contact {
  background-image: url('../img/dustGrey.png');
  color: white;
}
#footer {
  background-image: url('../img/background-light-texture.jpg');
  color: white;
}
@media (min-width: 595px) {
  nav ul li a:hover {
    background-color: #944747;
    color: #ffffff;
    border-bottom-color: #c15c5c;
  }
}
