body, html {
    color: hsl(0, 0%, 20%);
    background-image: url('../img/dust.png');
}

nav {
    background-color: hsl(0, 0%, 100%);
}

#headline {
    color: hsl(0, 0%, 30%);
}

nav ul li a {
    color: hsl(0, 0%, 30%);
    border-bottom-color: hsl(0, 100%, 30%);
    
}



#start {
    background-image: url('../img/background-light-texture.jpg');
}

#tagline {
    color: white;
} 


#philosophy {
    background-image: url('../img/dustGrey.png');
    color:white;
}

#contact {
    background-image: url('../img/dustGrey.png');
    color: white;
} 

#footer {
    background-image: url('../img/background-light-texture.jpg');
    color: white;
}

@media (min-width: 800px) and (orientation: landscape) {
 nav ul li a:hover {    
    background-color: hsl(0, 35%, 43%);
    color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(0, 45%, 56%);
}
}