<header class="row">

  <div class="col col-100">
    <span id="headline">49th Floor Studios</span>
  </div>

  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <ul class="nav">
      <li><a href="#start">Start</a>
      </li>
      <li><a href="#about">Us</a>
      </li>
      <li><a href="#philosophy">Philosophy</a>
      </li>
      <li><a href="#services">Services</a>
      </li>
      <li><a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

</header>
